/* theCloudHacker */
/* Print StyleSheet */

@font-face {
	font-family: 'King';
	src: local('King'), local('King'), url('../font/king.ttf') format('truetype');
}

@font-face {
	font-family: 'Victorian';
	src: local('Victorian'), local('Victorian'), url('../font/victorian.ttf') format('truetype');
}

@font-face {
	font-family: 'Nabla';
	src: local('Nabla'), local('Nabla'), url('../font/Nabla.ttf') format('truetype');
}

@font-face {
	font-family: 'SmoochSans';
	src: local('SmoochSans'), local('Nabla'), url('../font/SmoochSans.ttf') format('truetype');
}

body{
    background: #ffffff;
    color: #000000;
    font-family: King, courier, arial;
    font-weight: 400;
    margin: 20px 50px 50px 50px;
}

h1{
    font-size: 4em;
    font-family: Nabla, courier, arial;
    color: #000000;
    text-align: center;
}
h2{
    font-size: 2.4em;
    font-family: SmoochSans, courier, arial;
    color: #333333;
}
h3{
    font-size: 1.6em;
    font-family: SmoochSans, courier, arial;
    color: #333333;
}
a{
    color: #000000;
    text-decoration: none;
}
a.visited{
    color: #000000;
}

.nav{
    display:none;
}
.nav li{
    display: none;
}

.pic{
    display: block;
    float:left;
}
.pic img{
    border: 2px solid #ffffff;
    border-radius: 250px;
}
.roundpic{
    border: 2px solid #ffffff;
    border-radius: 250px;
}
.footer{
    display: none;
}
.content{
    color: #000000;
}
.normalDiv{
    padding-bottom: 20px;
    padding-top: 20px;
}

.contentCol1{
    text-align: justify;
}
.contentCol2{
    text-align: justify;
}
.contentCol3{
    text-align: justify;
}

.clearfix{
    height: 20px;
}
.mottoLine{
    font-size: 1.4em;
    text-align: center;
    display: block;
    font-family: King, courier, arial;
}
.orangelink{
    color: #000000;
}

.img-responsive{
    display: block;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    border: 2px solid #c0c0c0;
}
.dateField{
    font-size: 0.8em;
    color: #999999;
}
.titleSection{
    border-bottom: 1px solid #999999;
}