/* theCloudHacker */
/* Primary Mobile StyleSheet */

@media only screen and  (max-width:1171px)  {

    @font-face {
        font-family: 'King';
        src: local('King'), local('King'), url('../font/king.ttf') format('truetype');
    }

    @font-face {
        font-family: 'Victorian';
        src: local('Victorian'), local('Victorian'), url('../font/victorian.ttf') format('truetype');
    }

    @font-face {
        font-family: 'Nabla';
        src: local('Nabla'), local('Nabla'), url('../font/Nabla.ttf') format('truetype');
    }

    @font-face {
        font-family: 'SmoochSans';
        src: local('SmoochSans'), local('Nabla'), url('../font/SmoochSans.ttf') format('truetype');
    }

    body{
        background: #2e2e2e;
        color: #ffffff;
        background-image: url(../img/blackWallpaper.jpg);
        background-position: 0%;
        background-attachment: fixed;
        font-family: King, courier, arial;
        font-weight: 400;
    }

    h1{
        font-size: 4em;
        font-family: Nabla, courier, arial;
        color: #f78400;
        text-align: center;
    }
    h2{
        font-size: 2.2em;
        font-family: SmoochSans, courier, arial;
        color: #f78400;
    }
    h3{
        font-size: 1.6em;
        font-family: SmoochSans, courier, arial;
        color: #f78400;
    }
    a{
        color: #ffffff;
        text-decoration: double;
    }
    a.visited{
        color: #f78400;
        text-decoration:wavy;
    }
    a:hover{
        background-color: #f78400;
        color: #ffffff;
    }
    .nav{
        display: block;
        font-family: SmoochSans, courier, arial;
        font-size: 1.9em;
        width: 100%;
        text-align: center;
    }
    .nav li{
        display: block;
        padding: 5px 5px 5px 5px;
        background: #000000;
        border: 1px solid #f78400;
        color: #ffffff;
    }
    .nav a{
        display: block;
        text-decoration: none;
        padding: 1px 0px 1px 0px;
    }
    .nav a:hover{
        background-color: #ffffff;
        color: #2e2e2e;
        border: 1px solid #f78400;
        padding: 0px 0px 0px 0px;
        margin: 0;
    }
    .nav p{
        font-family: King, courier, arial;
        color: #666666;
        font-size: 0.5em;
    }
    .nav ul{
        display: block;
        text-decoration: none;
        text-indent: 0%;
    }
    .nav li{
        display: block;
        padding: 0px 0px 0px 0px;
        text-indent: 0%;
    }

    .pic{
        display: block;
        text-align: center;
    }
    .pic img{
        border: 2px solid #ffffff;
        border-radius: 250px;
    }
    .pic img:hover{
        border: 2px dashed #f78400;
        transform: rotate(360deg);
        transition: all 0.8s ease-in-out 0s;
    }
    .roundpic{
        border: 2px solid #ffffff;
        border-radius: 250px;
    }
    .roundpic:hover{
        border: 8px dashed #f78400;
        transform: rotate(30deg);
        transition: all 0.2s ease-in-out 0s;
    }
    .footer{
        position: fixed;
        display: block;
        text-align:center;
        border-top: 2px solid #000000;
        bottom: 0;
        height: 60px;
        width: 100%;
        padding: 14px 0px 0px 0px;
        font-family: SmoochSans, courier, arial;
        font-size: 1.4em;
        background: #2e2e2e;
    }
    .content{
        display: block;
        height: auto;
        margin: 0px 50px 50px 50px;
    }

    .contentCol1{
        text-align: justify;
    }
    .contentCol2{
        text-align: justify;
    }
    .contentCol3{
        text-align: justify;
    }

    .clearfix{
        overflow: auto;
    }
    .mottoLine{
        font-size: 1.4em;
        text-align: center;
        display: block;
        font-family: King, courier, arial;
    }
    .orangelink{
        color: #f78400;
    }

    .img-responsive{
        display: block;
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
        border: 2px solid #c0c0c0;
    }
    .breakDiv{
        border-bottom: 1px #999999 dashed;
    }

    .plainList{
        display: block;
        text-decoration: none;
    }
    .plainList li{
        display: block;
        text-decoration: none;
    }
    .plainList li:hover{
        background-color: #f78400;
        color: #ffffff;
    }
    .selectedPage{
        background-color: #f78400;
        color: #ffffff;
        border: 1px solid #f78400;
        padding: 3px 3px 3px 3px;
    }
    .selectedPage{
        display: block;
        background-color: #f78400;
        color: #ffffff;
        border: none;
        padding: 0px 0px 0px 0px;
        margin: 0px 0px 0px 0px;
    }
    .selectedPage:hover{
        display: block;
        background-color: #ffffff;
        color: #2e2e2e;
        border: none;
    }
    .credThumb{
        width: 80px;
        height: 80px;
        border: 0px;
    }
    .credThumb:hover{
        border: 2px dashed #f78400;
        transform: scale(1.5);
        transition: all 0.3s ease-in-out 0s;
    }
}