/* theCloudHacker */
/* Primary Desktop StyleSheet */

@media only screen and  (min-width:1171px)  { 

    @font-face {
        font-family: 'Karla';
        src: local('Karla'), local('Karla'), url('../font/Karla-VariableFont_wght.ttf') format('truetype');
    }

    @font-face {
        font-family: 'Victorian';
        src: local('Victorian'), local('Victorian'), url('../font/victorian.ttf') format('truetype');
    }

    @font-face {
        font-family: 'Nabla';
        src: local('Nabla'), local('Nabla'), url('../font/Nabla.ttf') format('truetype');
    }

    @font-face {
        font-family: 'SmoochSans';
        src: local('SmoochSans'), local('Nabla'), url('../font/SmoochSans.ttf') format('truetype');
    }

    body{
        background: #2e2e2e;
        color: #ffffff;
        background-image: url(../img/blackWallpaper.jpg);
        background-position: 0%;
        background-attachment: fixed;
        font-family: SmoochSans, courier, arial;
        font-size: 1.2em;
    }

    h1{
        font-size: 4em;
        font-family: Nabla, courier, arial;
        color: #f78400;
        text-align: center;
    }
    h2{
        font-size: 2.2em;
        font-family: SmoochSans, courier, arial;
        color: #f78400;
        padding-top: 0%;
        margin-top: 0%;
    }
    h3{
        font-size: 1.8em;
        font-family: SmoochSans, courier, arial;
        color: #ffffff;
        padding-top: 0%;
        margin-top: 0%;
        text-decoration: underline;
    }
    a{
        color: #f78400;
        text-decoration: none;
    }
    a.visited{
        color: #f78400;
        text-decoration:wavy;
    }
    a:hover{
        background-color: #f78400;
        color: #ffffff;
    }
    .nav{
        display: block;
        font-family: SmoochSans, courier, arial;
        font-size: 1.7em;
        width: 210px;
        height: 500px;
        bottom: 0;
        left: 0;
        position: fixed;
    }
    .nav ul{
        display: block;
        width: 100%;
        margin: 0;
        text-decoration: none;
        text-indent: 0%;
    }
    .nav li{
        display: block;
        width: 100%;
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
        text-indent: 0%;
    }
    .nav a{
        display: block;
        text-decoration: none;
        padding: 2px 0px 0px 2px;
    }
    .nav a:hover{
        display: block;
        background-color: #ffffff;
        color: #2e2e2e;
        border: 1px solid #f78400;
        padding: 0px 20px 0px 0px;
        margin: 0px;
        text-align: right;
        transform: scale(1.1);
        transition: all 0.3s ease-in-out 0s;
    }
    .nav p{
        font-family: Karla, courier, arial;
        color: #666666;
        font-size: 0.5em;
    }
    .pic{
        display: block;
        text-align: center;
    }
    .pic img{
        border: 2px solid #ffffff;
        border-radius: 250px;
    }
    .pic img:hover{
        border: 2px dashed #f78400;
        transform: rotate(360deg);
        transition: all 0.3s ease-in-out 0s;
    }
    .roundpic{
        border: 2px solid #ffffff;
        border-radius: 250px;
    }
    .footer{
        position: fixed;
        display: block;
        text-align:center;
        border-top: 2px solid #000000;
        background-color: #000000;
        bottom: 0;
        height: 60px;
        width: 100%;
        padding: 14px 0px 0px 0px;
        font-family: SmoochSans, courier, arial;
        font-size: 1.4em;
    }
    .content{
        display: block;
        height: auto;
        margin: 0px 50px 50px 50px;
        
    }
    .titleSection{
        padding-top: 20px;
        margin-left: 210px;
        text-align: center;
    }
    .columnDiv{
        column-count: 3;
        column-gap: 20px;
        padding-bottom: 20px;
        padding-top: 20px;
        margin-left: 210px;
        text-align: justify;
        font-family: Karla, courier, arial;
        font-size: 0.8em;
        font-weight: 400;
    }
    .normalDiv{
        padding-bottom: 20px;
        padding-top: 20px;
        margin-left: 210px;
    }

    .contentCol1{
        float: left;
        display: inline;
        width: 25%;
        text-align: justify;
        padding-right: 20px;
    }
    .contentCol2{
        float: left;
        display: inline;
        width: 25%;
        text-align: justify;
        padding-right: 20px;
        margin-left: 20px;
    }
    .contentCol3{
        float: left;
        display: inline;
        width: 25%;
        margin-left: 20px;
        text-align: justify;
    }

    .clearfix{
        overflow: auto;
    }
    .mottoLine{
        font-size: 1.4em;
        text-align: center;
        display: block;
        font-family: Karla, courier, arial;
        border-bottom: 1px solid #ffffff;
    }
    .orangelink{
        color: #f78400;
    }

    .img-responsive{
        display: block;
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
        border: 2px solid #c0c0c0;
    }
    
    .inlineScroll{
        display: block;
        animation: marquee 10s linear infinite;
    }

    .dateField{
        font-size: 0.8em;
        color: #cccccc;
        font-family: SmoochSans, courier, arial;
        text-align: right;
    }
    .breakdiv{
        border-bottom: 1px #999999 dashed;
        margin-left: 210px;
    }

    .plainList{
        display: block;
        text-decoration: none;
    }
    .plainList li{
        display: block;
        text-decoration: none;
    }
    .plainList li:hover{
        background-color: #f78400;
        color: #ffffff;
    }
    .plainList a{
        color: #ffffff;
        text-decoration: wavy;
    }
    .plainList a:hover{
        background-color: #f78400;
        color: #ffffff;
    }
    .plainList a.visited{
        color: #ffffff;
        text-decoration: wavy;
    }
    .selectedPage{
        display: block;
        background-color: #f78400;
        color: #ffffff;
        border: none;
        padding: 0px 0px 0px 0px;
        margin: 0px 0px 0px 0px;
    }
    .selectedPage:hover{
        display: block;
        background-color: #ffffff;
        color: #2e2e2e;
        border: none;
    }
    .credThumb{
        width: 80px;
        height: 80px;
        border: 0px;
    }
    .credThumb:hover{
        border: 2px dashed #f78400;
        transform: scale(1.5);
        transition: all 0.3s ease-in-out 0s;
    }
}